listen=YES
listen_ipv6=NO
background=NO

anonymous_enable=NO
local_enable=YES
write_enable=YES
local_umask=002

chroot_local_user=YES
allow_writeable_chroot=YES
local_root=/var/www/html

pasv_enable=YES
pasv_min_port=21100
pasv_max_port=21110
pasv_address=__PASV_ADDRESS__
pasv_addr_resolve=YES

pam_service_name=vsftpd
seccomp_sandbox=NO
secure_chroot_dir=/var/run/vsftpd/empty
xferlog_enable=YES
log_ftp_protocol=YES
